<%- include('./partials/head', {
    css:"editProductos", 
    header:"headerBlack", 
    footer: "footerBlack",
    title: "editProductos"
} )%>


<body>
<%- include('./partials/header', {urlLogo: "static/img/logo-zapas-design.svg"}) %>

    <main>

        <main>
            <section class="portada">
                <h2>BIENVENIDO</h2>     
            </section>
    <section class="formulario">
        <h1>Cargar Producto</h1>
        
        <form action="/products/create" method="POST" enctype="multipart/form-data">
            <h3>Producto:</h3>
            <input type="text" list="browsers" name="nombreProducto" value="<%= locals.old && old.nombreProducto ? old.nombreProducto : ''%>">
            <% if (locals.error && error.nombreProducto){ %>
                <p class="error"> <%= error.nombreProducto.msg %> </p>
            <% } %> 

            <h3>Marca:</h3>
            <select name="marca" id="">
                <option value="" disabled selected>- Seleccione el género - </option>
                    <% allBrands.forEach(brand => { %>
                    <option value="<%= brand.id %>"><%= brand.marcas %></option>
                    <% }); %>
            </select>
           
            <h3>Categoria:</h3>
            <div class="contenedor-de-categorias">
                <div class="categoria">
                    <% allCategories.forEach(category => { %>
                        <label><input type="checkbox" name="category" value="<%-category.categoria%>" > <%- category.categoria %>   </label>
                    <% }) %>
                    
                <!-- </div>
                <div class="categoria">
                    <label><input type="checkbox" name="category" value="mujer"> Mujer </label>
                </div>
                <div class="categoria">
                    <label><input type="checkbox" name="category" value="deportes"> Deportes </label>
                </div>
                <div class="categoria">
                    <label><input type="checkbox" name="category" value="coleccion"> Coleccion </label>
                </div> -->

            </div>

            <% if (locals.error && error.category){ %>
                <p class="error"> <%= error.category.msg %> </p>
            <% } %>
           

            <h3>Descripción:</h3>
            <textarea class="descripcion" type="textarea" name="description" value="<%= locals.old && old.description ? old.description:  ''%>"></textarea>
            <% if (locals.error && error.description){ %>
                <p class="error"> <%= error.description.msg %> </p>
            <% } %>

            <h3>Talle:</h3>
            <div class="div-talles" name="talles">
                <div class="div-check-talle">
                    <input class="check-talle" type="checkbox" value="38" id="talle38" name="talle" hidden>
                    <label class="boton-talle" for="talle38">38</label>
                </div>
                <div class="div-check-talle">
                    <input class="check-talle" type="checkbox" value="39" id="talle39" name="talle" hidden>
                    <label class="boton-talle" for="talle39">39</label>
                </div>
                <div class="div-check-talle">
                    <input class="check-talle" type="checkbox" value="40" id="talle40" name="talle" hidden>
                    <label class="boton-talle" for="talle40">40</label>
                </div>
                <div class="div-check-talle">
                    <input class="check-talle" type="checkbox" value="41" id="talle41" name="talle" hidden>
                    <label class="boton-talle" for="talle41">41</label>
                </div>
                <div class="div-check-talle">
                    <input class="check-talle" type="checkbox" value="42" id="talle42" name="talle" hidden>
                    <label class="boton-talle" for="talle42">42</label>
                </div>
                <div class="div-check-talle">
                    <input class="check-talle" type="checkbox" value="43" id="talle43" name="talle" hidden>
                    <label class="boton-talle" for="talle43">43</label>
                </div>
                <div class="div-check-talle">
                    <input class="check-talle" type="checkbox" value="44" id="talle44" name="talle" hidden>
                    <label class="boton-talle" for="talle44">44</label>
                </div>
            </div>
            <% if (locals.error && error.talle){ %>
                <p class="error"> <%= error.talle.msg %> </p>
            <% } %>
           
            <h3>Precio:</h3>
            <input type="number" name="price" value="<%= locals.old && old.price ? old.price:  ''%>">
            <% if (locals.error && error.price){ %>
                <p class="error"> <%= error.price.msg %> </p>
            <% } %>
            
            <div class="modificar-cargar">
                <label for="files" class="login">Cargar imagen</label>
                <input id="files" style="visibility:hidden;" type="file" name="imagen">
            </div>
            <% if (locals.error && error.image){ %>
                <p class="error"> <%= error.image.msg %> </p>
            <% } %>
        
            <div class="modificar-cargar">
            
            <input type="submit" class="login">
                
            </div>
        </form>


       

        </main>
    </section>
    
    <%- include('./partials/footer') %>
</body>
</html>




