<%- include('./partials/head', {
    css:"editProductos", 
    header:"headerBlack", 
    footer: "footerBlack",
    title: "editProductos"
} )%>

<script src="/static/js/counter.js"></script>
<body>
<%- include('./partials/header', {urlLogo: "static/img/logo-zapas-design.svg"}) %>

    <main>

        <main>
            <section class="portada">
                <h2>BIENVENIDO</h2>     
            </section>
    <section class="formulario">
        <h1>Editar Producto</h1>

        
        
        <form action="/products/<%=producto.id %>/editProducts?_method=PUT" method="POST" enctype="multipart/form-data">
            <h3>Producto:</h3>
            <input type="text" list="browsers" name="nombreProducto" value="<%= producto.nombre %>">
            <% if (locals.error && error.nombreProducto){ %>
                <p class="error"> <%= error.nombreProducto.msg %> </p>
            <% } %> 

            <h3>Marca:</h3>
            <select name="marca" id="">
                <option value="" >- Seleccione la marca - </option>
                    <% marcas.forEach(marca => { %>
                    <option value="<%= marca.id %>" <% if (marca.id === producto.brand_id) {%>  selected  <%}%>  ><%= marca.marcas %></option>
                    <% }); %>
            </select>
            <% if (locals.error && error.marca){ %>
                <p class="error"> <%= error.marca.msg %> </p>
            <% } %> 
            
            <h3>Categoria:</h3>
            <div class="contenedor-de-categorias">
                <div class="categoria">
                    <% categorias.forEach(element => {%>
                        <input type="checkbox" name="category" value="<%=element.id %>" id="categoria" 
                        <% if (categoriasProducto.includes(element.id)) { %>
                            checked >   
                        <% } %>
                        <label for="categoria"><%- element.categoria %></label>
                    <% }) %>      
                </div>
                <% if (locals.error && error.category){ %>
                    <p class="error"> <%= error.category.msg %> </p>
                <% } %>
                          
            <div class="descripcionCounter">
                <h3>Descripción:</h3>
                <h4 class="counter" id="numero"></h4>
            </div>
            <textarea name="description" class="descripcion" type="textarea" id="description"><%= producto.descripcion %></textarea>
            <% if (locals.error && error.description){ %>
                <p class="error"> <%= error.description.msg %> </p>
            <% } %>

            <h3>Talle:</h3>
            
            <div class="div-talles" name="talle">
                <% talles.forEach(element => {%>
                    <div class="div-check-talle">
                        <input class="check-talle" type="checkbox" value="<%-element.id%>" id="talleLabel" name="talle"
                        <% if (tallesProducto.includes(element.id)) { %>
                            checked >   
                        <% } %>                     
                        <label class="boton-talle" for="talleLabel"><%- element.talle%></label>
                    </div>
                <% }) %>
            </div>
             <% if (locals.error && error.talle){ %>
                <p class="error"> <%= error.talle.msg %> </p>
            <% } %>
            
            <h3>Precio:</h3>
            <input type="number" name="price" value="<%= producto.precio.toString() %>">
            <% if (locals.error && error.price){ %>
                <p class="error"> <%= error.price.msg %> </p>
            <% } %>

            <div class="modificar-cargar">
                <label for="files" class="login">Cargar imagen</label>
                <input id="files" style="visibility: hidden;" type="file" name="imagenActualizada">
            </div>
        
            <div class="modificar-cargar">

               <button type="submit" class="login">Actualizar</button>
               <button class="login" class="placeholder" type="submit"> <a href="/products/<%= producto.id %>/editProducts">Restaurar</a> </button>
            </div>
        </form>

        </main>
    </section>
    
    <%- include('./partials/footer') %>
</body>
</html>




