<%- include('./partials/head', {
    css:"login", 
    header:"headerWhite", 
    footer: "footerWhite",
    title: "login"
} )%>
    

<body>
<%- include('./partials/header', {urlLogo: "static/img/logo-zapas-design-white.svg"}) %>

    <main>
        <section class="portada">
            <h2>BIENVENIDO</h2>     
        </section>

        <section class="formulario">
            <h1>INICIAR SESION</h1>
            
            <form action="/user/login/loginPost" method="post">
                <div class="email-password">
                    <input type="email" name="email" placeholder="Correo electrónico"  class="placeholder" value="<%= locals.old && old.email ? old.email : ''%>">
                    <% if (locals.error && error.email){ %>
                        <p class="error"> <%= error.email.msg %> </p>
                    <% } %>
                </div>
                <div class="email-password">
                    <input type="password" name="password" placeholder="Contraseña" class="placeholder">
                    <% if (locals.error && error.password){ %>
                        <p class="error"> <%= error.password.msg %> </p>
                    <% } %>
                </div>

               <div>
                <label for="recordar"><input type="checkbox" name="recordar">Recordar usuario</label>
               </div>
                
               <div class="login-register">
                    <button class="login" class="placeholder" type="submit">Iniciar Sesion</button>
                </div>
            </form>

            <div class="login-register">
                <a href="/user/register" class="register" target="_blank">Registrarse</a>
            </div>
            
        </section>
    </main>

    <%- include('./partials/footer') %>
</body>
</html>