<%- include('./partials/head', {
    css:"perfil", 
    header:"headerBlack", 
    footer: "footerBlack",
    title: "Formulario Registro"
} )%>

<body>
  <%- include('./partials/header', {urlLogo: "static/img/logo-zapas-design.svg"}) %>

  <div class="perfilUsuario">
    <div class="perfilUsuario-top">
    </div>
    <div class="contenedor-imgPerfil">
      <img class="imgPerfil" src="/static/images/users/<%= user.imagen %>" alt="imagen-perfil">
    </div>
    <span><%= user.nombre %> <%= user.apellido %></span>
    <p class="emailUsuario"> <%= user.email %></p> 
    <form action="/user/logout" method="get" class = "submit">
      <button> Log Out </button>
    </form>
  </div>
      
    <%- include('./partials/footer') %>

</body>

</html>




