<%- include('./partials/head', {
    css:"products", 
    header:"headerBlack", 
    footer: "footerBlack",
    title: "Lista de Productos"
} )%>
    

<body>
    <%- include('./partials/header', {urlLogo: "static/img/logo-zapas-design.svg"}) %>

    <main>

        <h1>LISTA PRODUCTOS</h1>
        
        <div class="div-listas">

            <% productos.forEach(lista => { %>
                <div class="lista-productos">
                <a href="/products/<%=lista.id%>" > 
                <h3><%= lista.nombreProducto %></h3>
                
                <img src="static/images/productos/<%= lista.image%>" alt="imagen">
                
                                             
                <p> $ <%= lista.price %></p>
                </a>
            </div>
            <% }) %>
            
        </div>
    </main>

 <%- include('./partials/footer') %>
</body>
</html>

