<%- include('./partials/head', {
    css:"products", 
    header:"headerBlack", 
    footer: "footerBlack",
    title: "Lista de Productos"
} )%>
    

<body>
    <%- include('./partials/header', {urlLogo: "static/img/logo-zapas-design.svg"}) %>

    <main>

        <h1>LISTA PRODUCTOS</h1>
        
        <div class="div-listas">

            <%if ( user ) {%>
            <div class="lista-productos">
                <a href="/products/create" > 
                <img class="plus" src="static/images/productos/plus.png" alt="imagen">
                
                </a>
            </div>
            <% } %>

            <% productos.forEach(lista => { %>
            <div class="lista-productos">
                    
                <a href="/products/<%=lista.id%>" > 
                
                <div class="nombre-producto">
                    <h3><%= lista.nombre %></h3>
                </div>
                
                <div class="imagen">
                    <img src="static/images/productos/<%= lista.imagen%>" alt="imagen">
                </div>
                
                <div class="precio">
                    <p> $ <%= lista.precio %></p>
                </div>                             
                </a>
            </div>
            <% }) %>
            
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>
</html>

