<%- include('./partials/head', {
    css:"productDetail", 
    header:"headerBlack", 
    footer: "footerBlack",
    title: "Product Detail"
} )%>

<body>

<%- include('./partials/header', {urlLogo: "static/img/logo-zapas-design.svg"}) %>

    <main>
        <img class="imagen-producto" src="/static/images/productos/<%= productoBuscado.image%>" alt="imagen producto">
        <div class="info-producto">
            <h1 class="nombre-producto"><%= productoBuscado.nombreProducto%></h1>
            <p class="marca-precio">$<%= productoBuscado.price %></p>
            <p class="descripcion"><%= productoBuscado.description %></p>
            <section class="section-talles">
                <p class="titulo-talles">Talles:</p>
                <div class="div-talles">
                    <div class="div-radio-talle">
                        <input class="radio-talle" type="radio" value="38" id="talle38" name="talle" hidden>
                        <label class="boton-talle" for="talle38">38</label>
                    </div>
                    <div class="div-radio-talle">
                        <input class="radio-talle" type="radio" value="40" id="talle40" name="talle" hidden>
                        <label class="boton-talle" for="talle40">40</label>
                    </div>
                    <div class="div-radio-talle">
                        <input class="radio-talle" type="radio" value="41" id="talle41" name="talle" hidden>
                        <label class="boton-talle" for="talle41">41</label>
                    </div>
                    <div class="div-radio-talle">
                        <input class="radio-talle" type="radio" value="42" id="talle42" name="talle" hidden>
                        <label class="boton-talle" for="talle42">42</label>
                    </div>
                </div>
            </section>

            <div class="botones">
                <button class="añadir-al-carrito"><a href="#"> Añadir al carrito</a></button>
                <button class="editar"><a href="<%= productoBuscado.id %>/editProductos">Editar</a></button>
                
                <form action="/products/<%= productoBuscado.id %>?_method=delete" method="POST">
                    <button type="submit" class="Eliminar">Eliminar</button>
                </form>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>