<%- include('./partials/head', {
    css:"register", 
    header:"headerWhite", 
    footer: "footerWhite",
    title: "Formulario Registro"
} )%>


<body>
<%- include('./partials/header', {urlLogo: "static/img/logo-zapas-design-white.svg"}) %>

    <main>
    <section class="formulario">
        <h1>REGISTRARSE</h1>
        
        <form action="/user/register/create" method="POST" enctype="multipart/form-data">
            <div class="email-password">
                <input type="text" name="nombre" placeholder="Nombre"  class="placeholder" value="<%= locals.old && old.nombre ? old.nombre : ''%>">
                <% if (locals.error && error.nombre){ %>
                    <p class="error"> <%= error.nombre.msg %> </p>
                <% } %>
            </div>
            <div class="email-password">
                <input type="text" name="apellido" placeholder="Apellido" class="placeholder" value="<%= locals.old && old.apellido ? old.apellido : ''%>">
                <% if (locals.error && error.apellido){ %>
                    <p class="error"> <%= error.apellido.msg %> </p>
                <% } %>
            </div>
            <div class="email-password">
                <input type="text" name="email" placeholder="Email" class="placeholder" value="<%= locals.old && old.email ? old.email : ''%>">
                <% if (locals.error && error.email){ %>
                    <p class="error"> <%= error.email.msg %> </p>
                <% } %>
            </div>
            <div class="email-password">
                <input type="password" name="password" placeholder="Contraseña" class="placeholder">
                <% if (locals.error && error.password){ %>
                    <p class="error"> <%= error.password.msg %> </p>
                <% } %>
            </div>

            <div class="email-password">
                <label for="files" class="login">Cargar imagen</label>
                <input id="files" style="visibility:hidden;" type="file" name="imagen">
            </div>
            <% if (locals.error && error.imagen){ %>
                <p class="error"> <%= error.imagen.msg %> </p>
            <% } %>

            <div class="login-register">
                <button class="login" class="placeholder" type="submit">REGISTRARSE</button>
            </div>
            
        </form>
        </main>
    </section>
    
    <%- include('./partials/footer') %>
</body>
</html>